.top{
    background: url(../images/back.jpg) fixed;
}

.container-top{
    display: flex;
}

.logo{
    height: 112.5px;
    width: 500px;
    padding-top: 205px;
    padding-left: 100px;
}

.info-box-one{
    border: 2px solid black;
    font-size: 25px;
    line-height: 40px;
    height: 220px;
    width: 414px;
    padding-left: 30px;
    padding-top: 20px;
    margin-top: 70px;
    margin-left: 400px;
    background-color: white;
}

.npng{
    font-weight: bold;
}

.info-box-two{
    border: 2px solid black;
    width: 370px;
    height: 147px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    margin-top: 150px;
    margin-left: 170px;
    padding-top: 20px;
    background-color: white;
    margin-bottom: 30px;
}

.underline{
    text-decoration: underline;
}

.deco{
    text-decoration: none;
    color: black;
}

.facture{
    font-size: 28px;
}

.info-box-three{
    padding-top: 145px;
    padding-left: 1030px;
    font-size: 25px;
    background-color: white;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    font-size: 20px;
}

th, td{
    border: 1px solid rgb(100, 100, 100);
    padding:20px;
}

th{
    color:white;
    background-color: #2e2e2e;
}

.ht-total{
    font-size: 21px;
    border: 1px solid black;
    height: 30px;
    width: 211px;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 1280px;
    margin-top: 100px;
}

.strong{
    font-weight: bold;
}

.tva{
    font-size: 21px;
    border: 1px solid black;
    height: 30px;
    width: 211px;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 1280px;
    margin-top: 20px;
}

.ttc{
    font-size: 21px;
    border: 1px solid black;
    height: 30px;
    width: 211px;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 1280px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bot{
    background: url(../images/back.jpg) fixed;
    position: relative;
}

.doc{
    font-size: 35px;
    border: 1px inset black;
    height: 50px;
    width: 222px;
    background-color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 100px; 
    border-radius: 3px;
}
.doc:hover{
    background-color: rgb(158, 158, 158);
    color: white;
    border : unset 1px black;
}

.white-bar{
    background-color: white;
    height: 3px;
    width: 400px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.badge{
    position: absolute;
    width: 60px;
    height: 79px;
    left: 50%;
    transform: translateX(-50%);
    top: 42%;
}

.foot{
    background-color: white;
}

.informations{
    color: #777777;
    font-size: 18px;
    margin-top: 80px;
    margin-left: 100px;
    padding-top: 30px;
}

.code{
    color: black;
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

@media print {
    .doc, .badge, .white-bar{
        display: none;
    }
    }





